*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../images/7.jpg");
  background-size:cover;
  background-position:center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  height: 50px;
  font-size: 1.2em;
  width: 0;
  outline: none;
  padding-left: 10px;
  border: none;
  border-radius: 15px;
  transition: all .5s;
}

.icon{
  height: 60px;
  width: 60px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  color: #fff;
  cursor: pointer;
  transform: translateX(-30px);
}

.icon span{
  transform: rotate(-45deg);
}

.active{
  width: 60%;
}

input:hover{
  box-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff;
}